@{
    ViewBag.Title = "Home Page";
}

 <script type='text/javascript'   src='http://jqueryjs.googlecode.com/files/jquery-1.3.2.min.js'></script>

<script type="text/javascript">
   
</script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.0/jquery.min.js"></script>

<link href="@Url.Content("~/Content/reviewStyle.css")" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/Scripts/simplegallery.js">



</script>

<script type="text/javascript">

    
</script>
 <div id="main">

    
       <div class="clear"></div>
     
      <div class="single_product_wrapper">


      </div>

     <div class="common_white_block">
            <div class="wrapper">
                <div class="single_product_wrapper">
                    <a href="http://culturageek.com.ar/" class="resource_icon blog">
                        <img src="@Url.Content("~/Content/images/cg.jpg")" width="70" height="70"alt="image" />
                    </a>
                    <div class="product_details_text">
                        <a href="http://culturageek.com.ar/" class="font-bold-32px-09c">
                            cultura geek                        </a>
                        <h4>La casa del gamer y el patio de atrás del techie</h4>
                        <p style="text-align: left;margin-right:0;">Programa Emitido el 14/7/2014. Hay vida después del mundial y armamos los festejos de los 150 programas con la visita de la gente de Taringa quienes nos contaron como se renovó el sitio y que se viene en el futuro. Además hablamos de la aplicación <a href="@Url.Action("Index","Home")" style="font-weight: bold;">Argentina Sismos</a>  para que no solo la conozcas sino que sepas como funciona. Y de yapa, analizamos la Ultrabook Lenovo Flex 14.</p>
                        <div style="clear:both;"></div>
                        <a class="download_button_resources"
                           href="http://culturageek.com.ar/cultura-geek-150-con-la-visita-de-la-gente-de-taringa-y-la-review-de-la-ultrabook-lenovo-flex-14/">
                            <table>
                                <tr>
                                    <td style="width: 184px;">
                                        Visita la review                         </td>
                                </tr>
                            </table>
                        </a>
                    </div>
                                            
                                        <div style="clear:both;"></div>
                </div>
            </div>
            <div style="clear:both"></div>
                            <div class="shadow"></div>
                    </div>
       



